[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sdc.redistribute"]
	path = sdc.redistribute
	url = https://github.com/dads2busy/sdc.redistribute
